
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header,footer {
    background-color: #c757e2;
    color: white;
    text-align: center;
    padding: 20px;
}
main {
    min-height: 80vh;
    padding: 20px;
}
main h1{
    text-align: center;
    padding: 20px;
}
main .content{
    display: flex;
}
.content div{
    background-color: aqua;
    margin:15px;
    padding: 30px;
}
.content p{
    font-size: 22px;
}

/* MEDIA */
@media (max-width: 768px) {
    main .content{
        display: inline-block;
        flex-direction: row;
    }
}